#ask{
    display: block;
}


#answer1{
    display: block;
}



#content{
    display: block;
}


#content1{
    display: none;
}

#content2{
    display: none;
}

#content3{
    display: none;
}
#content3{
    display: none;
}

#content4{
    display: none;
}

